<?xml version="1.0" encoding="utf-8"?>
<manifest package="net.atomarea.flowx"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        tools:node="remove" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/ConversationsTheme"
        android:name="android.support.multidex.MultiDexApplication"
        android:largeHeap="true"
        tools:replace="android:label">

        <service android:name=".services.XmppConnectionService" />
        <service android:name=".services.UpdaterWebService" />
        <service android:name=".services.CheckAppVersionService" />

        <receiver android:name=".services.EventReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <action android:name="android.media.RINGER_MODE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity
            android:name=".ui.startUI"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ConversationActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:theme="@style/ConversationsDialog"
            android:name=".ui.RecordingActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.provider.MediaStore.RECORD_SOUND" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.StartConversationActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:label="@string/title_activity_start_conversation">
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="imto" />
                <data android:host="jabber" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="xmpp" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="xmpp" />
            </intent-filter>
        </activity>

        <intent-filter android:autoVerify="true">
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
            <data android:host="flowx.im" />
            <data android:pathPrefix="/i/" />
            <data android:pathPrefix="/i/" />
            <data android:pathPrefix="/j/" />
        </intent-filter>

        <activity
            android:name=".ui.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.MagicCreateActivity"
            android:label="@string/create_account"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.SetPresenceActivity"
            android:label="@string/change_presence"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".ui.ChooseContactActivity"
            android:label="@string/title_activity_choose_contact" />
        <activity
            android:name=".ui.BlocklistActivity"
            android:label="@string/title_activity_block_list" />
        <activity
            android:name=".ui.ChangePasswordActivity"
            android:label="@string/change_password_on_server" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_api_key" />

        <activity
            android:name=".ui.ShareLocationActivity"
            android:label="@string/share_location">
            <intent-filter>
                <action android:name="net.atomarea.flowx.location.request" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.ShowLocationActivity"
            android:label="@string/show_location">
            <intent-filter>
                <action android:name="net.atomarea.flowx.location.show" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.EditAccountActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.RegisterActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.ConferenceDetailsActivity"
            android:label="@string/title_activity_conference_details"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:theme="@style/ConversationsTheme.ContactDetail"
            android:name=".ui.ContactDetailsActivity"
            android:label="@string/title_activity_contact_details"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.TrustKeysActivity"
            android:label="@string/trust_omemo_fingerprints"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".ui.PublishProfilePictureActivity"
            android:label="@string/mgmt_account_publish_avatar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.ShareWithActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>

            <meta-data
                android:name="android.service.chooser.chooser_target_service"
                android:value=".services.ContactChooserTargetService" />
        </activity>
        <activity
            android:name=".ui.ShowFullscreenMessageActivity"
            android:configChanges="orientation|screenSize">

        </activity>
        <activity
            android:name="de.duenndns.ssl.MemorizingActivity"
            android:theme="@style/ConversationsTheme"
            tools:replace="android:theme" />
        <activity
            android:name=".ui.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".ui.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.SettingsActivity" />
        </activity>
        <activity
            android:name=".ui.LicenseActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".ui.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.SettingsActivity" />
        </activity>
        <activity
            android:name=".ui.UpdaterActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/ConversationsTheme"
            android:label="@string/title_activity_updater" >
        </activity>
        <service android:name=".services.ExportLogsService" />
        <service
            android:name=".services.ContactChooserTargetService"
            android:permission="android.permission.BIND_CHOOSER_TARGET_SERVICE">
            <intent-filter>
                <action android:name="android.service.chooser.ChooserTargetService" />
            </intent-filter>
        </service>
    </application>

</manifest>
